/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Primary Color */
:root {
  --primary-color: #041E42;
  --secondary-color: #A89968;
}

/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: #000; /* Default color for user input */
  background-color: #f8f9fa; /* Bootstrap default background color */
}

h1 {
    color: var(--primary-color);
}
h2 {
    color: var(--primary-color);
}


/* Navbar */
.logo {
  width: 150px; /* Adjust size as needed */
  margin-right: 10px;
}
.nav-margin {
  margin-top: 25px;
}
.nav-flex {
  display: flex; 
  align-items: center;
}
#nav-text {
    color: var(--primary-color);
    font-size: 30px;
    text-decoration: none;
}

/* Login Form */
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
}

.login-form {
  padding:50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  color: var(--primary-color);
}

.login-form .form-control {
  margin-bottom: 15px;
}

.button-blue {
  background-color: var(--primary-color);
  border: none;
  text-decoration: none;
}

/* Survey */
.survey-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.survey-form {
  padding:50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
#error-text {
  text-align: left;
  color: red;
}
#survey-spinner {
  font-size: 60px !important;
  margin-top: 25px;
}
.ineligible-text
{
  text-align: center;
  font-size: 18px;
  margin-top: 35px;
}
.countries-label {
  text-align: center;
  font-weight: bold; 
  margin-bottom: 20px;
}
.countries-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.countries-list div {
  padding: 5px;
  text-align: center;
}


/* Custom CSS for only larger screens */
@media (min-width: 768px) {
  .survey-form {
    width: 80%;
  }
}

/*Results page */

.thank-you {
  text-align: center; 
  margin-top: 10%;
  padding: 150px;
  font-size: 17px; 
}
